@model Duncan.PEMS.Entities.Assets.SpaceMassEditModel
@using Duncan.PEMS.Utilities
@using Kendo.Mvc.UI
@{
    ViewBag.Title = @HttpContext.Current.GetLocaleResource( ResourceTypes.PageTitle, "Mass Edit Space" );
}


@section PageHeader 
{
    <h1><a href="/">@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Home" )</a> / <a href="Index">@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Asset Management" )</a> / @HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Asset Inquiry" ) / <span>@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Update Asset" )</span></h1>
}

<div class="validationSum-container">@Html.ErrorOverview( ViewData.ModelState )</div>

@using (Html.BeginForm("MassEditSpace", "Assets", FormMethod.Post, new { @class = "customer-form", @id = "massEditSpace" }))
{
    <div class="customer_tab_content">
        
        @Html.HiddenFor( m => m.CustomerId )
        @Html.HiddenFor(m => m.TokenizableAssetsList)
        @Html.HiddenFor(m => m.AssetsDisplay)

<div class="activation_date">
    <div class="customer_status_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Activation Date")@Html.Raw(": ")@Html.Tooltip("EditActivationDate")</div>
    @(Html.Kendo().DatePickerFor(m => m.ActivationDate))
    @Html.ValidationMessageFor(m => m.ActivationDate)
</div>
        
<div class="customer_status">
    <div class="customer_status_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Inventory Status"): 
    @Html.DropDownListFor(m => m.StateId, new SelectList(Model.State, "Value", "Text"), new { @class = "customer_text" })
    </div>
</div>



        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Assets To Update" )</div>    
        <div>The following assets were selected for mass updates.</div>
        <div>@Model.AssetsDisplay</div>
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Asset Information" )</div>    
        
        <div class="clear">
            <div class="two-column payment">
                <div>
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Street" ) </div>
                    @Html.TextBoxFor( m => m.Street, new {@class = "customer_text"} )
                </div>
                <div class="clear">
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Area" ) </div>
                    @Html.DropDownListFor( m => m.AreaListId, new SelectList( Model.Area, "Value", "Text" ), new {@class = "customer_text"} )
                </div>
                <div class="clear">
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Zone" ) </div>
                    @Html.DropDownListFor( m => m.ZoneId, new SelectList( Model.Zone, "Value", "Text" ), new {@class = "customer_text"} )
                </div>
                <div class="clear">
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Suburb" ) </div>
                    @Html.DropDownListFor( m => m.SuburbId, new SelectList( Model.Suburb, "Value", "Text" ), new {@class = "customer_text"} )
                </div>
            </div>
            
            <div class="two-column payment">
                <div class="clear">
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Demand Status" ) </div>
                    @Html.DropDownListFor( m => m.DemandStatusId, new SelectList( Model.DemandStatus, "Value", "Text" ), new {@class = "customer_text"} )
                </div>
            </div>
        </div>
        

        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Configuration Detail" )</div>    
        <div class="clear">
@*                <div class="clear">
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Active Tariff Configuration" ) </div>
                    @Html.DropDownListFor( m => m.ActiveTariffId, new SelectList( Model.ActiveTariff, "Value", "Text" ), new {@class = "customer_text"} )
                </div>*@
                <div class="clear">
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Pending Tariff Configuration" ) </div>
                    @Html.DropDownListFor( m => m.PendingTariffId, new SelectList( Model.PendingTariff, "Value", "Text" ), new {@class = "customer_text"} )
                </div>
                <div class="clear">
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Schedule Tariff Pending to Active" )@Html.Raw( ": " )</div>
                    @(Html.Kendo().DatePickerFor( m => m.PendingToActiveDate ))
                    @Html.ValidationMessageFor( m => m.PendingToActiveDate )
                </div>
        </div>
        
        
        

        
        <div class="customer_actions">
            <button type="submit" name="submitButton" class="button important" value="SAVE" >@HttpContext.Current.GetLocaleResource( ResourceTypes.Button, "Save")</button>
            <button type="submit" name="submitButton" class="button previous" value="RETURN" >@HttpContext.Current.GetLocaleResource( ResourceTypes.Button, "Return")</button>
        </div>

    </div>
}