@using Mvc.Mailer

<style type="text/css">
    
</style>

Click <a href="@Url.Abs( @Url.Action( "ResetPassword", "Account", new {id = @ViewBag.Token} ) )">here</a> to reset password.

<br />
<br />

@Url.Abs( @Url.Action( "ResetPassword", "Account", new {id = @ViewBag.Token} ) )