@{
    ViewBag.Title = "Forgot Password";
    ViewBag.BodyId = "login";
    ViewBag.SubTitle = "Forgot Password - Username";
}

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="validationSum-containerMain">
        <ul>
            <li>@Html.ValidationSummary( true )</li>
        </ul>
    </div>

    <fieldset id="forgot-password-username">

        <ul>
            <li>
                <label for="UserName">Enter your username to begin.</label>
                <input data-val="true" data-val-required="The Username field is required." id="UserName" class="textBox"  name="userName" type="text" />
            </li>
            <li class="login-link">
                <a href="@Url.Action( "ForgotUsername" )">I Forgot My Username</a>
            </li>
            <li>
                <input type="submit" value="Submit" class="button">
            </li>
        </ul>
    </fieldset>
}
@section PageHeader 
{
    <h1>Forgot Password</h1>
    <a href="@Url.Action( "Login" )" class="button previous">Back To Login</a>
}