@model Duncan.PEMS.Entities.Users.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    ViewBag.BodyId = "login";
    ViewBag.SubTitle = "Reset Password";
}

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p style="margin-bottom:5px">Enter your new password below.</p>
  <div class="validationSum-containerMain" style="font-size: 14px">@Html.ValidationSummary()</div>

    if (!@Model.Expired)
    {
        <fieldset id="forgot-password-username">
            <ul>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "textBox"})
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "textBox"})
                </li>
                <li class="login-link">
                    &nbsp;
                </li>
                <li>
                    @Html.HiddenFor(model => model.Token)
                    <input type="submit" value="Reset Password" class="button">
                </li>
            </ul>
        </fieldset>
    }
}

@section PageHeader 
{
    <h1>Reset Password</h1>
    <a href="@Url.Action("Login")" class="button previous">Back To Login</a>
}