@model Duncan.PEMS.Entities.Customers.CustomerIdentificationModel
@using Duncan.PEMS.Entities.Customers
@using Duncan.PEMS.Utilities
@using Kendo.Mvc.UI

@{
    ViewBag.Title = HttpContext.Current.GetLocaleResource(ResourceTypes.PageTitle, "Edit Customer");
}


@section PageHeader 
{
    <h1><a href="/">@HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Admin")</a> / @HttpContext.Current.GetLocaleResource(ResourceTypes.PageTitle, "Customer Inquiry") / <span>@HttpContext.Current.GetLocaleResource(ResourceTypes.PageTitle, "Update Customer")</span></h1>
}

<div class="validationSum-container">@Html.ErrorOverview(ViewData.ModelState)</div>

<div class="customer_cred">
    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Customer Id"): </div>
    <div class="customer_text">@Html.DisplayFor(m => m.CustomerId)</div>
</div>
<div class="customer_cred">
    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Customer Name"): </div>
    <div class="customer_text">@Html.DisplayFor(m => m.DisplayName)</div>
</div>
<div class="customer_status">
    <div class="customer_status_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Status"): <span class="customer_status_state state_new">@Html.DisplayFor(m => m.Status.Status)</span></div>
    <div class="customer_status_as_of">@Html.DisplayFor(m => m.Status.StatusDate)</div>
</div>

<div class="customer_tabs">
    <div class="customer_tab selected_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Identification").ToString(), "EditCustomer", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Assets").ToString(), "EditAssets", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Payments").ToString(), "EditPayments", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Pay By Cell").ToString(), "EditCustPayByCell", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Rules").ToString(), "EditRules", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Custom Labels").ToString(), "EditCustomLabels", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Custom Grids").ToString(), "EditCustomGrids", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Event Codes").ToString(), "EditEventCodes", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Areas").ToString(), "EditAreas", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab ">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Demand Zones").ToString(), "EditDemandZones", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Maintenance Schedule").ToString(), "EditMaintenanceSchedule", "Customers", new { customerId = @Model.CustomerId }, null)</div>
@*    <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "PAMConfiguration").ToString(), "PAMConfiguration", "Customers", new { customerId = @Model.CustomerId }, null)</div>*@

    @if (Model.Status.StatusId == CustomerStatus.New)
    {
        <div class="customer_tab">@Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Activate").ToString(), "ActivateCustomer", "Customers", new { customerId = @Model.CustomerId }, null)</div>
    }
</div>

@using (Html.BeginForm("EditCustomer", "Customers", FormMethod.Post, new { @class = "customer-form", @id = "createCustomerIdentification" }))
{
    @Html.HiddenFor(m => m.CustomerId)

    <div class="customer_tab_content">
    
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Name Information")</div>    
        <div class="clear">
            <div class="two-column payment">
                <div>
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Customer Name")</div>
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "customer_text" })
                    @Html.RequiredMarkFor(m => m.DisplayName, new { @class = "required_asterisk" })
                    @Html.ValidationMessageFor(m => m.DisplayName)
                </div>    

                <div>
                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Internal Client Name")</div>
                    @Html.TextBoxFor(m => m.InternalName, new { @class = "customer_text" })
                    @Html.RequiredMarkFor(m => m.InternalName, new { @class = "required_asterisk" })
                    @Html.ValidationMessageFor(m => m.InternalName)
                </div>    
            </div>    
            <div class="two-column payment">
                <div class="customer_actions"  style="float: right">
                    @{
    if (Model.Status.StatusId != CustomerStatus.New)
    {
        if (Model.Status.StatusId == CustomerStatus.Active)
        {
                                <div>
                                    @Html.Raw("<button type=\"submit\" name=\"submitButton\" class=\"button\" value=\"INACTIVATE\" >" + @HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Inactivate") + "</button>")
                                </div>
                                <div>
                                    @HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Activation Date"):&nbsp;@Model.Status.StatusChangeDate
                                </div>
        }
        else
        {
                                <div>
                                    @Html.Raw("<button type=\"submit\" name=\"submitButton\" class=\"button\" value=\"ACTIVATE\" >" + @HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Activate") + "</button>")
                                </div>
                                <div>
                                    @HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Inactivation Date"):&nbsp;@Model.Status.StatusChangeDate
                                </div>
        }
    }
                    }
                    
                </div>
            </div>    
        </div>    


        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Location Information")</div>    
        
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Street Address 1")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.AddressLine1, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.AddressLine1, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.AddressLine1)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Street Address 2")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.AddressLine2, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.AddressLine2, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.AddressLine2)
        </div>    
        
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "City")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.AddressCity, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.AddressCity, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.AddressCity)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "State")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.AddressState, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.AddressState, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.AddressState)
        </div>    
    
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Country")@Html.Raw(": ")</div>
            @Html.DropDownListFor(m => m.AddressCountryId, new SelectList(Model.AddressCountry, "Value", "Text"), new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.AddressState, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.AddressState)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Zip Code")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.AddressPostalCode, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.AddressPostalCode, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.AddressPostalCode)
        </div>    

    
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Latitude")@Html.Raw(": ")</div>
            @(Html.Kendo().NumericTextBox<double>().Name("Latitude").Min(-90.0).Max(90.0).Format("n5").Decimals(6).Value(Model.Latitude))                    
            @Html.RequiredMarkFor(m => m.Latitude, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Latitude)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Longitude")@Html.Raw(": ")</div>
            @(Html.Kendo().NumericTextBox<double>().Name("Longitude").Min(-180.0).Max(180.0).Format("n5").Decimals(6).Value(Model.Longitude))                    
            @Html.RequiredMarkFor(m => m.Longitude, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Longitude)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Email Address")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.FromEmailAddress, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.FromEmailAddress, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.FromEmailAddress)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Phone Number")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.PhoneNumber, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>    
        
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Contact Information")</div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "First Name")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.Contact.FirstName, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.Contact.FirstName, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Contact.FirstName)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Last Name")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.Contact.LastName, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.Contact.LastName, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Contact.LastName)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "email Address")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.Contact.FromEmailAddress, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.Contact.FromEmailAddress, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Contact.FromEmailAddress)
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Phone Number")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.Contact.PhoneNumber, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.Contact.PhoneNumber, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Contact.PhoneNumber)
        </div>    
    
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Localization")</div>    
        
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Time Zone")@Html.Raw(": ")</div>
            @Html.DropDownListFor(m => m.Localization.TimeZoneId, Model.Localization.TimeZone, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.Localization.TimeZoneId, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Localization.TimeZone)
        </div>    
    
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Language")@Html.Raw(": ")</div>
            @Html.DropDownListFor(m => m.Localization.LanguageId, Model.Localization.Language, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.Localization.LanguageId, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.Localization.Language)
        </div>    

        @*        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Currency Format" )@Html.Raw( ": " )</div>
            @Html.DropDownListFor( m => m.Localization.CurrencyFormatId, Model.Localization.CurrencyFormat, new {@class = "customer_text"} )
            @Html.RequiredMarkFor( m => m.Localization.CurrencyFormatId, new {@class = "required_asterisk"} )
            @Html.ValidationMessageFor( m => m.Localization.CurrencyFormat )
        </div>    

        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Date/Time Format" )@Html.Raw( ": " )</div>
            @Html.DropDownListFor( m => m.Localization.DateTimeFormatId, Model.Localization.DateTimeFormat, new {@class = "customer_text"} )
            @Html.RequiredMarkFor( m => m.Localization.DateTimeFormatId, new {@class = "required_asterisk"} )
            @Html.ValidationMessageFor( m => m.Localization.DateTimeFormat )
        </div>    *@
    
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "24 Hour Clock")@Html.Raw(": ")</div>
            @Html.CheckBoxFor(m => m.Localization.Is24Hr, new { @class = "customer_text" })
            @Html.ValidationMessageFor(m => m.Localization.Is24Hr)
        </div>    
        
        
        
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "User Settings")</div>    
        
        <div>
            <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Default Password")@Html.Raw(": ")</div>
            @Html.TextBoxFor(m => m.DefaultPassword, new { @class = "customer_text" })
            @Html.RequiredMarkFor(m => m.DefaultPassword, new { @class = "required_asterisk" })
            @Html.ValidationMessageFor(m => m.DefaultPassword)
        </div>    

    
        <div class="customer_actions">
            <button type="submit" name="submitButton" class="button important" value="CONTINUE" >@HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Continue")</button>
            <button type="submit" name="submitButton" class="button" value="SAVE" >@HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Save")</button>
            <button type="submit" name="submitButton" class="button previous" value="RETURN" >@HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Return")</button>
        </div>

    </div>
}

<div class="customer_footer">
    <div class="customer_last_mod_by">
        @HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Last Modified by"): @Html.DisplayFor(m => m.Status.ModifiedBy)
        @Html.Raw(" on ")
        @Html.DisplayFor(m => m.Status.ModifiedOn)
    </div>
    <div class="customer_created_by">
        @HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Created by"): @Html.DisplayFor(m => m.Status.CreatedBy)
        @Html.Raw(" on ")
        @Html.DisplayFor(m => m.Status.CreatedOn)
    </div>
</div>