@model Duncan.PEMS.Entities.Customers.CustomerLabelsModel
@using Duncan.PEMS.Entities.Customers
@using Duncan.PEMS.Utilities

@{
    ViewBag.Title = HttpContext.Current.GetLocaleResource( ResourceTypes.PageTitle, "View Customer Labels" );
}

@section PageHeader 
{
    <h1><a href="/">@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Home" )</a> / @HttpContext.Current.GetLocaleResource( ResourceTypes.PageTitle, "Customer View" ) / <span>@HttpContext.Current.GetLocaleResource( ResourceTypes.PageTitle, "Custom Labels" )</span></h1>
}

<div class="validationSum-container">@Html.ErrorOverview( ViewData.ModelState )</div>

<div class="customer_cred">
    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Customer Id" ): </div>
    <div class="customer_text">@Html.DisplayFor( m => m.CustomerId )</div>
</div>
<div class="customer_cred">
    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Customer Name" ): </div>
    <div class="customer_text">@Html.DisplayFor( m => m.DisplayName )</div>
</div>
<div class="customer_status">
    <div class="customer_status_label">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Status" ): <span class="customer_status_state state_new">@Html.DisplayFor( m => m.Status.Status )</span></div>
    <div class="customer_status_as_of">@Html.DisplayFor( m => m.Status.StatusDate )</div>
</div>

<div class="customer_tabs">
    <div class="customer_tab">@Html.ActionLink( "Identification", "ViewCustomer", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( "Assets", "ViewAssets", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( "Payments", "ViewPayments", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( "Rules", "ViewRules", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab selected_tab">@Html.ActionLink( "Custom Labels", "ViewCustomLabels", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( "Custom Grids", "ViewCustomGrids", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( "Event Codes", "ViewEventCodes", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Areas" ).ToString(), "ViewAreas", "Customers", new {customerId = @Model.CustomerId}, null )</div>
    <div class="customer_tab">@Html.ActionLink( HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Maintenance Schedule" ).ToString(), "ViewMaintenanceSchedule", "Customers", new {customerId = @Model.CustomerId}, null )</div>
</div>


@functions
{

    private MvcHtmlString GenerateList(string sectionName, List<CustomerLabel> sectionList, char separator)
    {
        string result = "<div>\n";

        foreach (var label in sectionList)
        {
            result += "<div class=\"clear\">\n";
            result += "<div class=\"customer_text_label\">" + label.LabelName + ": </div>";
            if ( label.CustomLabelList != null )
            {
                result += "<select class = \"customer_text\" name = " + sectionName + separator + label.Type + separator + label.LabelId.ToString() + ">\n";
                foreach (SelectListItem listItem in label.CustomLabelList)
                {
                    result += "<option value = \"" + listItem.Value + "\"";
                    if ( listItem.Selected == true )
                        result += " selected";
                    result += ">" + listItem.Text + "</option>\n";
                }
                result += "</select>\n";
            }
            else
            {
                result += "<input type=\"text\" name=" + sectionName + separator + label.Type + separator + label.LabelId.ToString()
                          + " class = \"customer_text\" value=\"" + ( label.CustomLabel ?? "" ) + "\" disabled=\"disabled\">\n";
            }
            result += "</div>\n";
        }
        result += "</div>\n";

        return new MvcHtmlString( result );
    }

}


    <div class="customer_tab_content">
    
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Field Labels" )</div>    
        @GenerateList( CustomerLabelsModel.FieldLabelsPrefix, Model.LabelGroups[ResourceTypes.Label], Model.Separator )
        
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Grid Labels" )</div>    
        @GenerateList( CustomerLabelsModel.GridLabelsPrefix, Model.LabelGroups[ResourceTypes.GridColumn], Model.Separator )

    
        <div class="customer_actions">
            @Html.ActionLink(@HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Continue").ToString(), "ViewCustomGrids", "Customers", new {customerId = Model.CustomerId}, new { @class = "button important", @type = "button" })
            @Html.ActionLink(@HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Return").ToString(), "Index", "Customers", new {rtn = "true"}, new { @class = "button previous", @type = "button" })
        </div>

    </div>

<div class="customer_footer">
    <div class="customer_last_mod_by">
        @HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Last Modified by" ): @Html.DisplayFor( m => m.Status.ModifiedBy )
        @Html.Raw( " on " )
        @Html.DisplayFor( m => m.Status.ModifiedOn )
    </div>
    <div class="customer_created_by">
        @HttpContext.Current.GetLocaleResource( ResourceTypes.Label, "Created by" ): @Html.DisplayFor( m => m.Status.CreatedBy )
        @Html.Raw( " on " )
        @Html.DisplayFor( m => m.Status.CreatedOn )
    </div>
</div>