@using Duncan.PEMS.Utilities
@using Kendo.Mvc.UI
@model Duncan.PEMS.Entities.WorkOrders.Technician.TechnicianWorkOrderListModel

@{
    ViewBag.Title = @HttpContext.Current.GetLocaleResource( ResourceTypes.PageTitle, "Work Orders" );
}
                     
@section PageHeader 
{
    <h2>@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Work Orders" ) (@Model.WorkOrders.Count().ToString())</h2>
    <a class="back" href="/">@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Back" )</a>
}

<style>
    .red {
        background-color: red !important;
    }
    .yellow {
        background-color: yellow !important;
    }

        .k-upload-button {
            visibility: hidden;
        }
      
</style>


@using (Html.BeginForm("WorkOrders", "WorkOrders", FormMethod.Post, new {@id = "listForm"}))
{
    <script type="text/javascript">
        $(function () {
            $("#ddlSort").change(function () {
                var url = '@Url.Action("WorkOrders", "WorkOrders", new { selectedSort = "__SortValue__", sortDirection = ViewBag.SortDirection })';
                url = url.replace('__SortValue__', $("#ddlSort").val());
                url = url.replace(/\&amp;/g, '&');
                window.location.href = url;
            });
        });

        function SendToWorkOrderDetails(itemId) {
            //set the vairable that am item has been selected
            var url = '@Url.Action("WorkSiteSafe", "WorkOrders", new {workOrderId = "__itemId__", selectedSort = ViewBag.SortOrder, sortDirection = ViewBag.SortDirection })';
            url = url.replace('__itemId__', itemId);
            url = url.replace(/\&amp;/g, '&');
            window.location.href = url;
        }

        function SetReturnURL() {
            var returnURLObject = new Object();
            returnURLObject.url = location.pathname + "?";
            returnURLObject.url += "selectedSort=@ViewBag.SortOrder";
            returnURLObject.url += "&sortDirection=@ViewBag.SortDirection";
             if (typeof (Storage) !== "undefined") {
                 window.sessionStorage.setItem("fmReturnUrl", JSON.stringify(returnURLObject));
             }
         }

         SetReturnURL();
    </script>
    <div id="content-inner">
        @if (!Model.WorkOrders.Any())
        {
            <div class="clear" >
                You do not have any assigned work orders.
            </div>
        }
        else
        {
            <div class="clear" id="sort">
              <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Sort by"):</div><br/>
              @(Html.Kendo().DropDownListFor(x=>x.SelectedSort).HtmlAttributes(new {style = "width:85%", @id = "ddlSort", @class = "customer_text"}).SelectedIndex(2).BindTo(new SelectList(Model.SortOptions, "Value", "Text")))
              <a href='@Url.Action("WorkOrders", "WorkOrders", new { selectedSort = Model.SelectedSort, sortDirection = "ASC" })' ><img src="~/Images/arrow-up.png" alt="" /></a>
              <a href='@Url.Action("WorkOrders", "WorkOrders", new { selectedSort = Model.SelectedSort, sortDirection = "DESC" })' ><img src="~/Images/arrow-down.png" alt="" /></a>
                <div id="sort-controls"></div>
            </div>
            <div class="clear" id="work-orders">
                @{
                    foreach (var workOrder in Model.WorkOrders)
                    {
                        bool red = (workOrder.Deadline - (DateTime)Session[Constants.ViewData.CurrentLocalTime]).TotalMinutes <= 0;
                        bool yellow = (workOrder.Deadline - (DateTime)Session[Constants.ViewData.CurrentLocalTime]).TotalMinutes <= 30;
                        string classname = red ? "red" : yellow ? "yellow" : "";
                        <div class="wo @classname" onclick=" SendToWorkOrderDetails('@workOrder.WorkOrderId') ">
                            <div class="clear">
                                <div class="two-column">
                                    <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "WO#"):</div>
                                    <div class="customer_text">@workOrder.WorkOrderId</div>
                                </div>
                                <div class="two-column">
                                    <div class="customer_text_label">@workOrder.AssetType:</div>
                                    <div class="customer_text">@workOrder.WorkOrderAsset.AssetId</div>
                                </div>
                            </div>
                            <div class="clear">
                                <div class="customer_text">@workOrder.Location</div>
                            </div>
                            <div class="clear">
                                <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Deadline"):</div>
                                <div class="customer_text">@workOrder.DeadlineDisplay</div>
                            </div>
                            <div class="clear">
                                <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Notify Time"):</div>
                                <div class="customer_text">@workOrder.NotificationTimeDisplay</div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="clear button-row">
                 <a id="refresh" style="cursor: pointer" class="button important" href='@Url.Action("WorkOrders", "WorkOrders", new { selectedSort = ViewBag.SortOrder, sortDirection = ViewBag.SortDirection })' >@HttpContext.Current.GetLocaleResource( ResourceTypes.Button, "Refresh" )</a>
            </div>
        }
    </div>
}