@model Duncan.PEMS.Entities.Tariffs.HolidayRateConfigurationModel
@using Duncan.PEMS.Entities.Tariffs
@using Duncan.PEMS.Utilities
@using Kendo.Mvc.UI
@{
    ViewBag.Title = @HttpContext.Current.GetLocaleResource(ResourceTypes.PageTitle, "Holiday Rate Configuration Imports");
}

@section Styles
{
    
    <style type="text/css">
        .k-widget.k-window {
            width: 500px;
        }

        .k-edit-form-container {
            width: 490px !important;
        }

        .button-select-tariffs {
            background: #33BAB1 !important;
            color: #fff !important;
            border: 1px solid #00A99D !important;
            padding: .25em .5em !important;
            font-size: 0.7em;
            box-shadow: 0px 0px 3px 2px #f2f2f2;
            display: inline-block;
            border-radius: 3px;
            cursor: pointer;
            z-index: 1;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "futura-pt-n4", "futura-pt", Arial, sans-serif;
            box-shadow: 0px 0px 3px 2px #d5d5d5;
        }

        .k-grid .k-grid-edit {
            background: #33BAB1 !important;
            color: #fff !important;
            border: 1px solid #00A99D !important;
            padding: .25em .5em !important;
            font-size: 0.7em;
            box-shadow: 0px 0px 3px 2px #f2f2f2;
            display: inline-block;
            border-radius: 3px;
            cursor: pointer;
            z-index: 1;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "futura-pt-n4", "futura-pt", Arial, sans-serif;
            box-shadow: 0px 0px 3px 2px #d5d5d5;
        }

        .k-grid .k-grid-delete {
            background: #33BAB1 !important;
            color: #fff !important;
            border: 1px solid #00A99D !important;
            padding: .25em .5em !important;
            font-size: 0.7em;
            box-shadow: 0px 0px 3px 2px #f2f2f2;
            display: inline-block;
            border-radius: 3px;
            cursor: pointer;
            z-index: 1;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "futura-pt-n4", "futura-pt", Arial, sans-serif;
            box-shadow: 0px 0px 3px 2px #d5d5d5;
        }


        .button-add-tariffs > span {
            visibility: hidden;
            width: 0;
        }

        .k-grid .k-grid-edit > span {
            visibility: hidden;
            width: 0;
        }

        .k-grid .k-grid-delete > span {
            visibility: hidden;
            width: 0;
        }


        span.k-numerictextbox {
            width: 80px;
        }

        select {
            width: 140px;
        }
    </style>

}

@section Scripts 
{
    @Scripts.Render("~/bundles/kendo");

}
    
@section PageHeader 
{
    <h1><a href="/">@HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Home")</a> / 
        <a href="Index">@HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Tariff Management")</a> / 
        <a href="CreateHolidayRateConfig">@HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Create Holiday Rate Configuration")</a> / 
        @HttpContext.Current.GetLocaleResource(ResourceTypes.Glossary, "Import Holiday Rate Configuration")</h1>
}


        
        <div class="customer_tab_content_section">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Holiday Rate Configurations")</div>
        <div class="clear">
        @(Html.Kendo().Grid<HolidayRateConfigurationModel>()
              .Name( "gridHRC" )
              .Columns( columns =>
                  {

                      columns.Bound(m => m.Name).Title("Configuration Name");
                      columns.Bound(m => m.Description).Title("Description");
                      columns.Bound(m => m.HolidayRateCount).Title("Holidays");
                      columns.Bound(m => m.ConfiguredOnDisplay).Title("Configuration Date");
                      columns.Bound(m => m.HolidayRateConfigurationIdDisplay).Width(100).ClientTemplate("#= CreateHolidayRateConfigReturnLink(CustomerId, HolidayRateConfigurationIdDisplay) #")
                             .Title("").Width(80);
                  } )
          .Scrollable()
          .HtmlAttributes(new { style = "height:430px;" })
              .Events( events => events.DataBound( "DisplayNoDataMessage" ) )
              .DataSource( dataSource => dataSource
                                             .Ajax()
                                             .Read( read => read.Action( "GetHolidayRateConfigurationsForImport", "Tariffs",
                                                                         new {customerId = Model.CustomerId} ).Type( HttpVerbs.Get ) )
              )
              .ClientDetailTemplateId( "templateHolidayRates" )
              )

        <script id="templateHolidayRates" type="text/kendo-tmpl">
                @(Html.Kendo().Grid<HolidayRateModel>()
                      .Name( "gridHRC#=HolidayRateConfigurationIdDisplay#" )
                      .Columns( columns =>
                          {
                              columns.Bound( m => m.HolidayName );
                              columns.Bound( m => m.HolidayDateTimeDisplay ).Title( "Date" );
                              columns.Bound( m => m.RateScheduleCount ).Title( "Schedules" );
                          } )
                      .Events( events => events.DataBound( "DisplayNoDataMessage" ) )
                      .DataSource( dataSource => dataSource
                                                     .Ajax()
                                                     .Read( read => read.Action( "GetSessionHolidayRates", "Tariffs",
                                                                                 new
                                                                                     {
                                                                                         customerId = Model.CustomerId,
                                                                                         holidayRateConfigurationId = "#=HolidayRateConfigurationId#"
                                                                                     } ).Type( HttpVerbs.Get ) )
                      )
                      .ToClientTemplate()
                      )
        </script>



        </div>


        <div class="customer_actions" style="float: left">
                @Html.ActionLink(HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Cancel").ToString(), "CreateHolidayRateConfig", new { customerId = Model.CustomerId }, new { @class = "button previous" })
        </div>



<script type="text/javascript">
    
    $(document).ready(function () {
    });

    function CreateHolidayRateConfigReturnLink(customerId, holidayRateConfigurationId) {
        // Create return link
            var uri = '@Html.ActionLink("Select", "ImportHolidayRateConfig", "Tariffs", new { customerId = "#CustomerId#", holidayRateConfigurationId = "#HolidayRateConfigurationId#" },new {@class = "button-select-tariffs" })';
            uri = decodeURIComponent(uri);
            uri = uri.replace('#HolidayRateConfigurationId#', holidayRateConfigurationId);
            uri = uri.replace('#CustomerId#', customerId);
            return uri;
    }

    function DisplayNoDataMessage(e) {
        var grid = e.sender;
        var gridHasData = grid.dataSource.data().length > 0;
        if (!gridHasData) {
            var columnCount = $(grid.thead.get(0)).children("tr").first().children("th").length;
            $(grid.tbody.get(0)).append(
            kendo.format("<tr class='custom-no-data-row'><td colspan='{0}'>No data to display.</td></tr>", columnCount)
            );
        }
    }

</script>
