@using Duncan.PEMS.Utilities
@model Duncan.PEMS.Entities.Users.ProfileModel

@{
    ViewBag.Title = @HttpContext.Current.GetLocaleResource( ResourceTypes.PageTitle, "Change Password" );
}
                     
@section PageHeader 
{
     <h2>@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Change Password" )</h2>
     <a class="back" href='/' >@HttpContext.Current.GetLocaleResource( ResourceTypes.Glossary, "Back" )</a>
}
<style>
    .field-validation-error,.validationSum-container ,.page-validation-error{
        clear: both;
        float: left;
    }

</style>

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @id = "changePasswordForm" }))
{
    
<div id="content-inner">
           <div class="validationSum-container">@Html.HeaderMessage()</div>
    
    <div class="clear two-column">
        <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "New Password"):</div><br/>
           <div class="customer_text">  @Html.PasswordFor( m => m.Password.NewPassword )<br/>
            @Html.ValidationMessageFor( m => m.Password.NewPassword )</div>
    </div>
    <div class="two-column">
         <div class="customer_text_label">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Confirm Password"):</div><br/>
        <div class="customer_text">@Html.PasswordFor( m => m.Password.ConfirmPassword ) <br/>
            @Html.ValidationMessageFor( m => m.Password.ConfirmPassword )
            @Html.ShowAllErrors( "Password" )</div>
    </div>
    <div class="clear button-row">
        <a class="button important" onclick="Submit('Change Password');" href="#">@HttpContext.Current.GetLocaleResource(ResourceTypes.Label, "Change Password")</a>
    </div>
</div>
    <script>
        function Submit(btnValue) {
            $('<input />').attr('type', 'hidden').attr('name', 'submitButton').attr('value', btnValue).appendTo('#changePasswordForm');
            $('#changePasswordForm').submit();
        }
    </script>
    
    @Html.HiddenFor( m => m.PasswordResetRequired )
}
